<html>
<body>
<div class="text-center">
    <p class="titulo">
    <b>Sistema</b> Ventas
    </p>
</div>
<div class="">
	<div class="container d-flex justify-content-center">
		<div class="row">
			<div class="card">
				<div class="card-header">
                        <div class="text-center">
                        <strong>Inicio de sesión</strong>
                    </div>					
				</div>
				<div class="card-body">
					<form name="login" id="login">
						<div class="row">
							<div class="col">
								<span class="profile-img">
									<i class='fas fa-user-circle' style='font-size:120px'></i>
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<hr> 
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">
												<i class='fas fa-user-shield'></i>
											</span>
										</div>
										<input class="form-control" placeholder="Usuario" id="loginUser" name="loginUser" type="text" required>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">
												<i class='fas fa-user-secret'></i>
											</span>
										</div>
										<input class="form-control" placeholder="Contraseña" id="loginPassword" name="loginPassword" type="password" required>
									</div>
								</div>
								<div class="form-group">
									<input type="button" class="btn btn-lg btn-success btn-block submit" id="login_m"  value="Ingresar"  disabled>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
